/*This section sets up style variables for reuse throughout the webpage
allowing us to quickly edit the colour scheme without replacing each colour
individually */

:root {
  --main-accent-1: lightskyblue;
  --main-accent-2: #ffd072;
  --main-accent-3: #ffffff;
  --main-text: #ffffff;
  --main-text-alt: black;
}



html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
}

body {
  
    max-width: 100%;
    background-color: var(--main-accent-2);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    color: var(--main-text);
    margin: auto;
  
}

#navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 2.25rem;
  overflow: hidden;
  display: flex;
  background-color: var(--main-accent-3);
  align-items: center;
  margin-bottom: 1rem;

  }

.nav-link a{
  text-decoration: none;
  padding: 1rem;
  /*border: 1px solid blue;*/
}

.nav-link li{
  list-style: none;
  }

.nav-link a:hover {
  background-color: var(--main-accent-1);
  color: var(--main-text);
}

nav > ul {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
  
      
  }

 h1 {
    font-size: 4rem;
    padding-top: 15rem;
    text-align: center;
     }
  
 h2 {
    padding-top: 20rem;   /* This corrects for fixed header */
    font-size: 3.25rem;
  }

  h3{
    font-size: 2rem;
  }

.welcome{
  /*padding-bottom: 15rem;*/
  height: 100vh;
  background: var(--main-accent-1);
}
.welcome p{
  font-style: italic;
}
 
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--main-text);
  background-color: var(--main-accent-1);
  
}

.projects-image {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  /*border: 2px solid blue;*/
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  
  
}

.project-top{
  border: 5px solid var(--main-accent-1);
  border-radius: 5px;
  max-width: 50%;
}

.project-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
  padding-top: 2rem;
  /*border: 2px solid yellow;*/
}

.project-tile {
  padding: 10px 10px 10px 10px;
  width: 250px;
  height: 450px;
  background: var(--main-accent-3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius:15px;
  /*border: 2px solid green;*/
}

.project-tile{
  color: var(--main-text-alt);
}

.project-tile li{
  text-align: left;
}

.project-tile-line{
  border: 2.5px solid var(--main-accent-1);
  border-radius: 2.5px;
}


  @media (max-width: 800px) {
      
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
    h2 {
        padding-top: 90px;
        font-size: 2.75rem;
    }
}


.contact-details:hover {
  transform: translateY(0.8rem);
  color: var(--main-accent-2);
}

footer{
  bottom: 0;
  padding-top: 10rem;
  width: 100%;
  
}

footer p{
  color: var(--main-text);
  text-align: right;
  padding-top: 1rem;
  padding-right: 2rem;
  height: 100%;
}

